body{
  margin:55px;
  background-color: rgb(200, 0, 0) ;
  /* black bacground for page */
}

#gameScreen{
  background-color: rgb(0, 50, 94) ;
  width:960px;
  /* width:80%; */
  height:720px;
  /* height:80%; */
  margin: auto;
  border: solid 1px white;
  position: relative;
}
.imgContainer{
  background-color: rgb(15,15,15);
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}
.titleImg{
  padding: auto;
  width: 500px;
}

.scoreArea{
  display: inline-block;
  margin-top: 300px;
  width: 90px;
  height: 90px;
  float: right;
}

.livesArea{
  display: inline-block;
  width: 90px;
  height: 90px;
  float: left;
}
.row {
	display: block;
}

.col {
  background: rgb(255,0,0);
  border: 1px solid white;
  display: inline-block;
	height: 30px;
	margin-right: 4px;
  margin-left: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  width: 95px;
  transition: .5s;
}
.hidden-col {
  background: none;
  border: 1px solid rgb(0, 50, 94);
  display: inline-block;
	height: 30px;
	margin-right: 4px;
  margin-left: 4px;
  margin-top: 5px;
  margin-bottom: 0px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  width: 95px;
  transition: .2s;
}
#bricks {
  /* border: 1px solid white; */
	display: block;
	text-align: center;
	margin: 0px auto;
  padding: 0px auto;
}

#paddle {
  /* border: 1px solid white; */
  position: absolute;
  z-index: 10;
  /* display: block; */
  background: rgb(0,200,0);
  border: 1px solid white;
  margin-top: 460px;
  margin-bottom: 10px;
  margin-left: 0px;
  /* padding: 30px; */
  width: 95px;
  height: 15px;
}

#ball{
  margin-top: 440px;
  margin-bottom: auto;
  position: absolute;
  background: rgb(255,255,255);
  border-radius: 10px;
  width: 20px;
  height: 20px;
}
